/**smaller devices only **/
@media (max-width:414px){
    /* Hide menu in mobile devices*/
    .menu{
        display: none;
    }
    .menu 
    .menu-handler{
        display: block!important;
    }
    /** pseudo seletor with siblings**/
    .menu-handler:focus-within + .menu{
        display: block;
    }
    figcaption{
        background-color: #9e9e9e42;
        padding: 5px;
    }
    .banner-text{
        position: relative;
        right: 40px;
       left: 5px;
    }
    .inverted-heading{
        background-color: #2196f3;
        font-size: 1em;
        padding: 10px;
        color: #fff;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }


}
/*medium size devices (ipad/surface) */
@media (min-width:768px) and (max-width:1024px){
   /*align menu items to left */
    .menu-bar .menu{
        float: left;
        margin-left: 40px;
    }
    .banner-text{
        position: inherit;
        left: 40%;
        bottom: 50%;
    }
    
}
/** Larger devices **/
@media (min-width:1025px){
    .menu-handler {
        display: none;
    }
    .menu .ul{
        display: none;
        list-style-type: none;
    }
    
}